.container{
  display: flex;
  flex-direction: column;
  height:100vh; 
  
}
.header{
  flex: 20%;
  background-color: lightgreen;
  
}
.menu{
    flex: 5%;
  background-color: lightgray;
  
  
}
.content{
    flex: 70%;
  background-color: white;
  
  
}
.footer{
    flex: 5%;
  background-color: lightgreen;
  
  
}




h1 { color:red;}
.tieude{color:tomato; font-weight:bold; font-size:20pt;}
.noidung{color:black; font-style:normal; font-size:14pt;}
